body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}

#bottom {
  position: absolute;
  bottom: 10px;
}

label {
  font-size: 12px;
  color: #7C7C7C;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

button {
    display: block;
    width: fit-content;
    padding: 8px 8px;
    margin: 8px auto
  }
  
  p {
    border-bottom: 1px dashed #ddd;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  
  #pictureUrl {
    display: block;
    margin: 0 auto;
    width: 12%;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-pack: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    box-align: center;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  
  #accessToken, #utouId {
    display: block;
    overflow: auto
  }